.capablur {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}